node_modules/
index-old.html

# Ignore everything in video/ except production files
video/*
!video/combined-loop.mp4
!video/clicky-wheel-cropped-captioned.mp4
!video/magnetic-tile-cropped.mp4
!video/bubble_preview/
video/bubble_preview/*
!video/bubble_preview/bubble-combined.mp4
